.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    width: 100%;
    height: 100px;

}

.logo {
    background: url('../../public/logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
}

.links {
    display: flex;
}

.url {
    margin: 1px 20px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #007bff;
}

.url:hover {
    text-decoration: underline;
}


@media only screen and (max-width:624px) {
    
    .url {
        font-size: 1rem;
        
    }

  
}