.home {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px;
    background:url("../assets/bg.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    
}

.home-head {
    font-size: 2em; 
    font-weight: 700; 
    color: #ffffff;
    text-decoration: underline; 
}

.home-description {
    margin-top: 30px; 
    width: 280px;
    font-size: 1em; 
    color: #ffffff; 
    text-align: center; 
}

.home a{
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px; 
    font-size: 1em;
    color: white;
    background-color: #007bff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

.home a:hover {
    background-color: #0056b3; 
}


@media (max-width: 600px) {
   .home {
       padding: 15px;
   }

   .home-head {
       font-size: 1.5em;
   }

   .home-description {
       font-size: 0.9em;
   }

   button {
       width: 100%; 
   }
}